<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/angular-material.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">

    <title>inGaia - Ads Exam</title>

    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/angular-animate.min.js"></script>
    <script src="/static/js/angular-aria.min.js"></script>
    <script src="/static/js/angular-messages.min.js"></script>
    <script src="/static/js/angular-route.min.js"></script>
    <script src="/static/js/angular-ui-router.min.js"></script>

    <!-- Angular Material Library -->
    <script src="/static/js/angular-material.min.js"></script>

    <script src="/static/scripts/app.js"></script>
    <script src="/static/scripts/services.js"></script>
    <script src="/static/scripts/controllers.js"></script>
</head>

<body ng-app="inGaiaApp" ng-cloak>

<div layout="column">
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <h2 flex md-truncate>inGaia - Ads Exam</h2>
        </div>
    </md-toolbar>

    <!--<md-content>-->
    <div ui-view></div>
    <!--</md-content>-->
</div>

</body>
</html>