<ul class="pagination">
    <li class="page-item" ng-if="showPreviousButton"
        ui-sref="search({query: query, page: previousPage, asc: asc ? 1 : 0})">
        <span class="page-link" aria-label="Previous">
            <md-icon md-font-set="material-icons">keyboard_arrow_left</md-icon>
            <span class="sr-only">Previous</span>
        </span>
    </li>

    <li style="flex: 1;"></li>

    <li class="page-item" ng-if="showNextButton" ui-sref="search({query: query, page: nextPage, asc: asc ? 1 : 0})">
        <span class="page-link" aria-label="Next">
            <span class="sr-only">Next</span>
            <md-icon md-font-set="material-icons">keyboard_arrow_right</md-icon>
        </span>
    </li>
</ul>

<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th ng-click="toggleOrderBy()" style="cursor: pointer;">Published On
            <md-icon ng-if="asc" md-font-set="material-icons">keyboard_arrow_up</md-icon>
            <md-icon ng-if="desc" md-font-set="material-icons">keyboard_arrow_down</md-icon>
        </th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="realty in realties">
        <th scope="row">{{ realty.title }}</th>
        <td>{{ realty.published_on }}</td>
        <td class="actions">
            <a ui-sref="detail({id : realty.id })" style="margin: 0 5px;">
                <md-icon style="color: #039BE5;" md-font-set="material-icons">info</md-icon>
            </a>
            <a ui-sref="log({id : realty.r_id, page: 0, asc: asc})" style="margin: 0 5px;">
                <md-icon style="color: #FB8C00;" md-font-set="material-icons">list</md-icon>
            </a>
        </td>
    </tr>

    </tbody>
</table>

<ul class="pagination">
    <li class="page-item" ng-if="showPreviousButton"
        ui-sref="search({query: query, page: previousPage, asc: asc ? 1 : 0})">
        <span class="page-link" aria-label="Previous">
            <md-icon md-font-set="material-icons">keyboard_arrow_left</md-icon>
            <span class="sr-only">Previous</span>
        </span>
    </li>

    <li style="flex: 1;"></li>

    <li class="page-item" ng-if="showNextButton" ui-sref="search({query: query, page: nextPage, asc: asc ? 1 : 0})">
        <span class="page-link" aria-label="Next">
            <span class="sr-only">Next</span>
            <md-icon md-font-set="material-icons">keyboard_arrow_right</md-icon>
        </span>
    </li>
</ul>